.card {
	background: linear-gradient(rgba(51, 44, 44, 0.5), rgba(0,0,0,0.8)),
		url("/design-image/add-contact.jpeg");
	background-position: center 65%;
	background-size: cover;
	
}

body {
	background: linear-gradient(rgba(51, 44, 44, 0.8), rgba(0,0,0,0.8)),url("/design-image/add-contact.jpeg"),
		black;
	font-family: "Poppins", sans-serif;
}