@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }
      .all{
        background-image:linear-gradient(rgba(51, 44, 44, 0.9),rgba(0,0,0,0.9)),url("/design-image/signup-back.avif");
        background-position: center 65%;
        background-size: cover;
        background-attachment: fixed;
      }
      